.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
  text-align: center;
  margin: 0 auto 4rem auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container {
  width: 430px;
  margin: 0 auto;
}

.m-login.m-login--2 {
  background-size: cover;
  background-repeat: no-repeat;
}

.m-login.m-login--2.m-login--signin .m-login__signin {
  display: block;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form {
  color: #aba5b6;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
  margin: 4rem auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
  text-align: center;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  margin-top: .8rem;
}


// .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
  
//   padding: 1.5rem 1.5rem;
//   margin-top: 1.5rem;
// }
.page .login .form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #00c5dc;
  color: #0f121a;
  background: #fff;
  padding: 1rem 0;

  &:focus, &:active {
    border-color: #0097a8;
  }
  &:-webkit-autofill,
&:-webkit-autofill:hover, 
&:-webkit-autofill:focus {
  background: #fff !important;
}
}


.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group {
  padding: 0;
  margin: 0 auto;
}



.m-login.m-login--2 {
  background-size: cover;
  background-repeat: no-repeat
}

.m-login.m-login--2 .m-login__wrapper {
  padding: 6% 2rem 1rem 2rem;
  margin: 0 auto 2rem auto;
  overflow: hidden
}

.m-login.m-login--2 .m-login__wrapper .m-login__container {
  width: 430px;
  margin: 0 auto
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
  text-align: center;
  margin: 0 auto 4rem auto
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head {
  margin-top: 1rem
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__head .m-login__title {
  text-align: center;
  font-size: 1.5rem
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
  margin: 4rem auto
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group {
  margin: 0;
  padding: 0;
  margin: 0 auto
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
  text-align: center;
  margin-top: 7%
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .m-login__btn {
  display: inline-block;
  text-align: center;
  padding: 1.4rem 4rem;
  margin-top: .8rem
}

.m-login.m-login--2.m-login--signin .m-login__signin {
  display: block
}

@media (max-width: 1024px) {
  .m-login.m-login--2 .m-login__wrapper {
    padding-top: 3rem
  }
}

@media (max-width: 768px) {
  .m-login.m-login--2 .m-login__wrapper .m-login__container {
    width: 100%;
    margin: 0 auto
  }

  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form {
    width: 100%;
    margin: 0 auto
  }

  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
    padding-top: 3rem
  }

  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action .btn {
    padding: .8rem 3rem;
    margin-top: 10px
  }

  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form-action .btn {
    padding: 1rem 3rem
  }
}

@media (max-width: 1024px) {
  .m-login.m-login--2 .m-login__wrapper {
    width: 100%
  }

  .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-login__form-action {
    padding-top: 0
  }
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__head .m-login__title {
  color: #9e97aa
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form {
  color: #aba5b6
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control {
  color: #91899f;
  background: #fff;
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control::-moz-placeholder {
  color: #9e97aa;
  opacity: 1
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control:-ms-input-placeholder {
  color: #9e97aa
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control::-webkit-input-placeholder {
  color: #9e97aa
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control:focus {
  color: #776e87
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control:focus::-moz-placeholder {
  color: #91899f;
  opacity: 1
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control:focus:-ms-input-placeholder {
  color: #91899f
}

.m-login.m-login--2.m-login-2--skin-2 .m-login__container .m-login__form .form-control:focus::-webkit-input-placeholder {
  color: #91899f
}

.m-list-search .m-list-search__form.m-loader:before {
    top: 12px;
    right: 0
}

.m-loader {
  position: relative
}

.m-loader:before {
  content: '';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  border-radius: 50%;
  -webkit-animation: m-loader-rotate .6s linear infinite;
  animation: m-loader-rotate .6s linear infinite
}

.m-loader:before {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -.7rem;
  margin-left: -.7rem;
  border-top-width: 2px;
  border-right-width: 2px
}

.m-loader.m-loader--lg:before {
  width: 2rem;
  height: 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  border-top-width: 3px;
  border-right-width: 3px
}

.m-loader.m-loader--right:before {
  left: auto;
  right: .7rem
}

.m-loader.m-loader--right.m-loader--lg:before {
  right: 1rem
}

.m-loader.m-loader--right.btn {
  padding-right: 3.25rem
}

.m-loader.m-loader--right.btn.m-loader--lg {
  padding-right: 4.65rem
}

.m-loader.m-loader--left:before {
  left: 1.4rem
}

.m-loader.m-loader--left.m-loader--lg:before {
  left: 2rem
}

.m-loader.m-loader--left.btn {
  padding-left: 3.25rem
}

.m-loader.m-loader--left.btn.m-loader--lg {
  padding-left: 4.65rem
}

@-webkit-keyframes m-loader-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes m-loader-rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.m-loader:before {
  border-top-color: #dfe2ea
}

.m-loader.m-loader--skin-dark:before {
  border-top-color: #acafba
}

.m-loader.m-loader--brand:before {
  border-top-color: #00c5dc
}

.m-loader.m-loader--light:before {
  border-top-color: #fff
}

.m-loader.m-loader--accent:before {
  border-top-color: #00c5dc
}

.m-loader.m-loader--focus:before {
  border-top-color: #9816f4
}

.m-loader.m-loader--primary:before {
  border-top-color: #00c5dc
}

.m-loader.m-loader--success:before {
  border-top-color: #00c5dc
}

.m-loader.m-loader--info:before {
  border-top-color: #36a3f7
}

.m-loader.m-loader--warning:before {
  border-top-color: #ffb822
}

.m-loader.m-loader--danger:before {
  border-top-color: #f4516c
}

.btn-success {
    color: #fff;
    background-color: #00c5dc;
    border-color: #00c5dc;
}

.btn {
    font-family: Montserrat, serif;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    box-shadow: none !important;
    border: 1px solid transparent;
    padding: .85rem 1.15rem;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: .25rem;
}
.login__buttons {
  text-align: center;
  margin-top: 40px;

  button {
    width: 100%;
    border-radius: 40px;
  }
}