.login-container, .auth {
  position: fixed;
  left: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  border-radius: 9px;
  padding: 35px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.09);
}

.auth img {
  width: 100px;
  display: block;
  margin:0 auto;
  margin-bottom: 22px;
}
.auth__head {
  margin-bottom: 30px;
  font-weight: 400;
}
.auth__title {
  font-size: 20px;
}