$no-sidebar-left-padding: 80px;
$sidebar-width: 225px;
$left-padding: 305px;

$header-height: 110px;
$header-z-index: 50;

$right-filters-width: 280px;


.page-sidebar {
  position: fixed;
  top: 0;
  left: 80px;
  width: $sidebar-width;
  height: 100%;
}

.page-header {
   position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  width: 100%;
  min-height: $header-height;
  z-index: $header-z-index + 1;
  width: 100%;
}

.no-sidebar-header {
  left: $no-sidebar-left-padding
}

.page-content {
  // padding-left: $left-padding;
  padding-top: 0;
  min-width: 1024px
}

.no-side-page-content {
  padding-left: $no-sidebar-left-padding;
  padding-top: 0;
  min-width: 1024px
}

.page-content__inner {
  width: 100%;
  left: $left-padding;
  top: 0;
  min-width: 800px;
}

.page-content-no-side {
  padding-left: 80px;
  padding-top: 0;
  min-width: 1024px
}

.page-content-no-side__inner {
  width: 100%;
  left: 80px;
  top: 0;
  min-width: 800px;
}

.page-content-body {
  padding-top: 130px;
  position: relative;
}

.page-content-product {
  padding-top: 145px;
  background-color: white;
  padding-bottom: 70px;
}

